<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>此應用程式需要存取您的位置來尋找附近的公廁</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>此應用程式需要存取您的位置來尋找附近的公廁，即使應用程式在背景運行</string>
</dict>
</plist>
